on init
    mkdir /mnt/vendor/persist-lg 0771 system system
    mkdir /mnt/vendor/sns 0755 system system
    mkdir /mnt/vendor/mpt 0775 system system

on post-fs
    chown root system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist
    mkdir /mnt/vendor/persist/data 0700 system system
    mkdir /mnt/vendor/persist/bms 0700 root system
    restorecon_recursive /mnt/vendor/persist

    chown system system /mnt/vendor/persist-lg
    chmod 0771 /mnt/vendor/persist-lg
    restorecon_recursive /mnt/vendor/persist-lg

    chown system system /mnt/vendor/sns
    chmod 0755 /mnt/vendor/sns
    restorecon_recursive /mnt/vendor/sns

    chown system system /mnt/vendor/mpt
    chmod 0775 /mnt/vendor/mpt
    restorecon_recursive /mnt/vendor/mpt

    chown system radio /mnt/vendor/eri
    chmod 0771 /mnt/vendor/eri
    restorecon_recursive /mnt/vendor/eri

    chown root system /mnt/vendor/power
    chmod 0771 /mnt/vendor/power
    restorecon_recursive /mnt/vendor/power

    start sreadahead

on post-fs-data

service sreadahead /vendor/bin/treadahead
    oneshot
    disabled
    seclabel u:r:sreadahead:s0

# make a diecision whether sreadahead would be performed or not.
service sreadahead-check /vendor/bin/sreadahead_check
    class main
    user root
    group root system
    oneshot
    seclabel u:r:sreadahead-check:s0
